<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css"> 
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content">
    {{>header}}
    <p>This site was created by Suprateek Chatterjee. It uses data from mapbox.com and weatherstack</p>
    <img src="img/robot.png" height="250" width="250">
    </div>
    {{>footer}}
</body>

</html>